<div>
  <h2><% @user.email %> To-do</h2>
</div

<div>
    <% @user.items.each do |item| %>
      <%= render item %>
    <% end %>
</div>

<div>
  <%= render partial: 'items/form', locals: { item: @item } %>
</div>
