<div>
  <%= current_user.email %>
</div>

  <h2>Your To-do List!</h2>

<div class="col-md-8">
    <%= render partial: 'items/form' %>
</div>

<div class="col-md-8">
  <%= render partial: 'items/item' %>
</div>

<%= link_to "Edit Account", edit_user_registration_path, class: 'btn btn-info' %>
