<div class="row">
  <div class="col-md-6">
   <%= form_for [@user, Item.new] do |f| %>
     <div class="form-group">
       <%= f.text_field :name, class: 'form-control', placeholder: "Create To-do" %>
     </div>
     <div class="form-group">
       <%= f.submit "Save", class: 'btn btn-primary' %>
     </div>
   <% end %>
 </div>
</div>
