<%= form_for [@user, @item] do |f| %>
  <div class="form-group">
    <%= f.label 'New to-do' %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter to-do" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
